<nav
    class="navbar navbar-expand-lg bg-body-tertiary"
    ng-controller="HeaderController"
>
    <div class="container-fluid">
        <a
            class="navbar-brand fw-semibold m-0 d-flex align-items-center"
            href="#"
        >
            <span class="bg-primary text-white px-1 rounded">IFMIS</span>
        </a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item" ng-repeat="menuItem in menu">
                    <a
                        class="nav-link"
                        ui-sref="{{menuItem.state}}"
                        ui-sref-active="active"
                        ng-show="{{menuItem.showWhen||true}}"
                        >{{menuItem.title}}</a
                    >
                </li>
                <li class="nav-item" ng-if="loggedIn==true">
                    <button class="btn border-0 text-danger" ng-click="logout()">Logout</button>
                </li>
            </ul>
        </div>
    </div>
</nav>
