.header{
    border-bottom: 5px solid pink;
}
.sidebar ul a{
   background-color: #1b354d;
   color: white;
   font-size: 15px;
   padding-left: 25px;
   border-bottom:1px solid #6b686875;
}
body{
    font-size: 15px;
}
table th span{
    font-size: 10px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}
@media print{
    body{
        position: static;
    }
    body *{
        visibility: hidden;
    }
    #bill{
        width:100% !important;
        position: absolute;
        left: 0;
        top: 0;
    }
    #bill,
    #bill *{
        visibility: visible;
    }
    #printBill *{
        visibility: hidden;
    }
}
