@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");
* {
  font-family: "Inter", sans-serif !important;
}

body,
span {
  font-size: 12px;
}

p {
  margin: 0 !important;
}

.main {
  display: flex;
  width: 100%;
  height: 100vh;
}

 .sidebar {
  background-color: #092852;
  min-width: 200px;
  max-width: 200px;
 }
.main .sidebar .sidebarHeader {
  border-bottom: solid 1px gray;
}
.main .sidebar .sidebarHeader{
  font-size: 50px;
}
.main .body {
  width: 100%;
}
.main .body .header {
  background-color: #051a37;
}
.header{
  border-bottom: pink;
}






